*,
:after,
:before {
  box-sizing: border-box;
}

.title,
.subtitle,
.about,
p,
strong,
address,
h3,
li {
  color: black !important;
}

i {
  color: #ff9147 !important;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

section {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
}

.section-prices {
  padding-top: 20px;
}

.about {
  max-width: 420px;
  margin: 0 auto 40px auto !important;
}

.buttons {
  max-width: 400px;
  margin: 0 auto;
}

span {
  color: #000 !important;
}

.box {
  background-color: #ebedff;
  max-width: 400px;
  margin: 0 auto;
}

.price-list li {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 10px;
  margin-bottom: 32px;
}

.app-header > h1 {
  width: calc(100% - 35px);
}
